.header {
  width: 100%;
  min-height: 190px;
  background-image: url('C:\Users\veron\Desktop\farpost\farp\src\components\styles\oranjeheater.jpg'); 
  background-position: center; 
  background-repeat: no-repeat;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
  
}

.logo {
  font-weight: bold;
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  color: #ffffff;
}

.off {
  font-weight: 300;
  color: #ffffff;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  text-transform: lowercase;
  transition: opacity 0.2s;
  
}

.nav a:hover {
  opacity: 0.6;
}

.header-center-text {
  font-size: 26px; 
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
  
}